body
{
background-color:#000000;
background-size:cover;
}

h1
{
color:#d6dbdb;
font-size:30px;
font-family:monospace;
text-align:left;
font-weight:950:
}

p
{
color:#c6cbcb;
font-size:19px;
font-family:arial;
text-align:justify;
font-weight:bold;
}

.classe01
{
color:#d6dbdb;
font-size:15px;
font-family:monospace;
font-weight:950;
}

.botao
{
color:#000000;
background-color:#006d78;
box-shadow:0 4px #005d68;
width:119px;
padding:13px 20px;
border:none;
font-weight:bold;
font-size:15px;
text-decoration:none;
border-radius:20px;
opacity:1;
}

.botao:hover
{
background-color:#005d68;
box-shadow:0 4px #004d58;
}

.botao:active
{
background-color:#005d68;
box-shadow:0 4px #004d58;
transform:translateY(10px);
}

.fonte01
{
color:#d6dbdb;
font-size:19px;
font-family:arial;
text-align:justify;
font-weight:bold;
}

.borda
{
border-radius:15px;
}

.fonte02
{
color:darkgray;
font-size:15px;
font-family:arial;
text-align:justify;
font-weight:bold;
}